#### Name Surname:
#### StudentID:

#### Important Notes: 
Change this file name to **studentId_LabWork1.ipynb**. After finished your work, upload your file to the related field in LMS

### LabWork1 - **`Pandas`** `Series & DataFrames`

1. Create three different series using list data type. You should use different data types such as **numeric, nominal, categorical** etc.
2. Create three different series using dictionary data type. You should use different data types such as **numeric, nominal, categorical** etc.
3. Apply `iloc` and `loc` functions two times for different series
4. Give a broadcasting example for series.
5. Create two data frames using the series you have created. These data frames have different datatypes, at least five columns and ten rows. You should use different data types such as **numeric, nominal, categorical** etc.
6. Apply five different `iloc` and `loc` functions to data frame.
7. Show three different `apply()` and `transform()` operations, one of them must be lambda operation
8. Show  three different querying examples on data frame. You should use the `where` function. In addition, some querying examples should be created `&` and `|` operators.
9. Save this data frame in any format you want. For example: csv or xlsx.
10. Read this data frame and print out the first five rows.

In [24]:
# 1. Create three different series using list data type. You should use different data types such as numeric, nominal, categorical etc.

import pandas as pd

numeric_series = pd.Series([23,34,26,28,30])
nominal_series = pd.Series(['elma', 'armut', 'portakal', 'üzüm', 'ananas'])
categorical_series = pd.Series(['small', 'medium', 'large', 'xlarge', 'xxlarge'], dtype='category')

numeric_series.head(), nominal_series.head(), categorical_series.head()

(0    23
 1    34
 2    26
 3    28
 4    30
 dtype: int64,
 0        elma
 1       armut
 2    portakal
 3        üzüm
 4      ananas
 dtype: object,
 0      small
 1     medium
 2      large
 3     xlarge
 4    xxlarge
 dtype: category
 Categories (5, object): ['large', 'medium', 'small', 'xlarge', 'xxlarge'])

In [38]:
# 2. Create three different series using dictionary data type. You should use different data types such as numeric, nominal, categorical etc.

Soyisim_series = pd.Series({'Ali': 'Yılmaz', 'Veli': 'Çelik', 'Ayşe': 'Demir', 'Ali': 'Çelik', 'Zeynep': 'Kara', 'Mehmet': 'Yılmaz', 'Fatma': 'Kara', 'Kemal': 'Kara'})
Kardes_series = pd.Series({'Ali': 1, 'Veli': 2, 'Ayşe': 4, 'Ali': 1, 'Zeynep': 4, 'Mehmet': 3, 'Fatma': 2, 'Kemal': 3})
Not_series = pd.Series({'Ali': 'AA', 'Veli': 'BA', 'Ayşe': 'CC', 'Ali': 'BA', 'Zeynep': 'DD', 'Mehmet': 'AA', 'Fatma': 'CC', 'Kemal': 'DD'})

In [39]:
Soyisim_series.head()

Ali        Çelik
Veli       Çelik
Ayşe       Demir
Zeynep      Kara
Mehmet    Yılmaz
dtype: object

In [40]:
Kardes_series.head()

Ali       1
Veli      2
Ayşe      4
Zeynep    4
Mehmet    3
dtype: int64

In [41]:
Not_series.head()

Ali       BA
Veli      BA
Ayşe      CC
Zeynep    DD
Mehmet    AA
dtype: object

In [42]:
# 3. Apply iloc and loc functions two times for different series

Kardes_series.iloc[0:3]

Ali     1
Veli    2
Ayşe    4
dtype: int64

In [43]:
nominal_series.loc[0:3]

0        elma
1       armut
2    portakal
3        üzüm
dtype: object

In [44]:
Soyisim_series.iloc[0:3]

Ali     Çelik
Veli    Çelik
Ayşe    Demir
dtype: object

In [45]:
Soyisim_series.loc['Ali':'Ayşe']

Ali     Çelik
Veli    Çelik
Ayşe    Demir
dtype: object

In [46]:
Not_series.loc['Ali':'Ayşe']

Ali     BA
Veli    BA
Ayşe    CC
dtype: object

In [4]:
# 4. Give a broadcasting example for series.

In [52]:
# 5. Create two data frames using the series you have created. These data frames have different datatypes, at least five columns and ten rows. You should use different data types such as numeric, nominal, categorical etc.

ev_series = pd.Series({
    'Ali': 'apartman',
    'Veli': 'villa',
    'Ayşe': 'apartman',
    'Ali': 'villa',
    'Zeynep': 'villa',
    'Mehmet': 'villa',
    'Fatma': 'villa',
    'Kemal': 'villa',
})

sokak_series = pd.Series({
    'Ali': 'Atatürk',
    'Veli': 'İnönü',
    'Ayşe': 'Atatürk',
    'Ali': 'Cumhuriyet',
    'Zeynep': 'İnönü',
    'Mehmet': 'Zafer',
    'Fatma': 'Paşa',
    'Kemal': 'Mavi',
})

data_frame1 = pd.DataFrame({
    'Soyisim': Soyisim_series,
    'Kardes': Kardes_series,
    'Not': Not_series,
    'Ev': ev_series,
    'Sokak': sokak_series
    })

data_frame1.head(10)

       Soyisim  Kardes Not        Ev       Sokak
Ali      Çelik       1  BA     villa  Cumhuriyet
Veli     Çelik       2  BA     villa       İnönü
Ayşe     Demir       4  CC  apartman     Atatürk
Zeynep    Kara       4  DD     villa       İnönü
Mehmet  Yılmaz       3  AA     villa       Zafer
Fatma     Kara       2  CC     villa        Paşa
Kemal     Kara       3  DD     villa        Mavi

In [59]:
# 6. Apply five different iloc and loc functions to data frame.

ans1 = data_frame1.iloc[2:5]

ans2 = data_frame1.loc['Ali':'Ayşe']

ans3 = data_frame1.iloc[1:3, 2:3]

ans4 = data_frame1.loc['Ali':'Fatma', 'Soyisim':'Not']

ans5 = data_frame1.iloc[0:3, 0:4]

In [60]:
print(ans1)
print(ans2)
print(ans3)
print(ans4)
print(ans5)

       Soyisim  Kardes Not        Ev    Sokak
Ayşe     Demir       4  CC  apartman  Atatürk
Zeynep    Kara       4  DD     villa    İnönü
Mehmet  Yılmaz       3  AA     villa    Zafer
     Soyisim  Kardes Not        Ev       Sokak
Ali    Çelik       1  BA     villa  Cumhuriyet
Veli   Çelik       2  BA     villa       İnönü
Ayşe   Demir       4  CC  apartman     Atatürk
     Not
Veli  BA
Ayşe  CC
       Soyisim  Kardes Not
Ali      Çelik       1  BA
Veli     Çelik       2  BA
Ayşe     Demir       4  CC
Zeynep    Kara       4  DD
Mehmet  Yılmaz       3  AA
Fatma     Kara       2  CC
     Soyisim  Kardes Not        Ev
Ali    Çelik       1  BA     villa
Veli   Çelik       2  BA     villa
Ayşe   Demir       4  CC  apartman

In [66]:
# 7. Show three different `apply()` and `transform()` operations, one of them must be lambda operation

import numpy as np

print(data_frame1['Kardes'].apply(lambda x: x * 2))

print(data_frame1['Not'].apply(str.lower))

def transform(x):
    if np.isnan(x):
        return x * 2

print(data_frame1.transform(transform))

Ali       2
Veli      4
Ayşe      8
Zeynep    8
Mehmet    6
Fatma     4
Kemal     6
Name: Kardes, dtype: int64
Ali       ba
Veli      ba
Ayşe      cc
Zeynep    dd
Mehmet    aa
Fatma     cc
Kemal     dd
Name: Not, dtype: object

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [8]:
# 8. Show three different querying examples on data frame. You should use the 'where' function. In addition, some querying examples should be created & and | operators.

In [9]:
# 9. Save this data frame in any format you want. For example: csv or xlsx.

In [10]:
# 10. Read this data frame and print out the first five rows.